        
         <h1> AN AWESOME APPLICATION <h1>

                
        


        
        <%# <form action="new/object" method="post"> 
        <input type="text" name="verb"> </input>
        <input type="submit" value="Petition POST"> </input>
        </form> %>