



<div class="container text-center">
<div class="card">

  <div class="card-header">
   <h5> Crear Neueva Tarea </h5>
  </div>



<div class="card-body text">
  <form action="/tarea/new" method="post">
 
  <div class="form-group">
  <label for="title"> Título <input type="text" id="title" name="title" class="form-control" placeholder="para hacer">
  </div>

</div>
  
  <div class="card-footer">
  <div class="form-group"><button type="submit" value="Create Task" class="btn btn-dark">Crear Tarea</button></div>
  <p><a href="/">Return to Tareas</a></p>

</form> 
</div>

</div>
</div>

